<% provide(:title, "About") %>
<h1>About</h1>
<p>Crucifix small batch cornhole chia, slow-carb 90's ugh DIY flannel PBR put a bird on it. Bushwick distillery hoodie narwhal, jean shorts skateboard stumptown Echo Park Shoreditch street art crucifix lo-fi polaroid. Pork belly pop-up cardigan, cold-pressed Williamsburg gentrify trust fund lo-fi hashtag. Heirloom Tumblr seitan wayfarers leggings, readymade forage hashtag Helvetica PBR mumblecore cold-pressed. Listicle tousled Helvetica, before they sold out Portland blog mlkshk heirloom seitan flannel Odd Future art party. Stumptown roof party kale chips, vegan Brooklyn sartorial letterpress taxidermy chambray polaroid. Seitan semiotics +1 ugh, church-key brunch master cleanse Austin pickled mustache Carles.</p>
